@import "../../style.scss";

.authCallback {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f3f3;
  padding: 1rem;

  @include xsmall {
    padding: 0.5rem;
  }

  .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: #08415c;
    cursor: pointer;
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: auto;

    @include small {
      width: 35px;
      height: 35px;
    }

    @include xsmall {
      width: 30px;
      height: 30px;
    }

    .loader {
      width: 100%;
      height: 100%;
      border: 0.4rem solid rgba(0, 0, 0, 0.1);
      border-left-color: #08415c;
      border-radius: 50%;

      @include keyframes(spin) {
        to {
          transform: rotate(360deg);
        }
      }
      @include animate(spin, 1s, linear, infinite);
    }
  }
}
