@use "../../style.scss";

.authCallback {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8bd1e3;
  padding: 1rem;

  @include style.xsmall {
    padding: 0.5rem;
  }

  .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: #08415c;
    cursor: pointer;
  }
}
