@import "../../style.scss";

.register {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8bd1e3;
  padding: 1rem;

  @include medium {
    background: linear-gradient(rgba(2, 81, 81, 0.7), rgba(2, 81, 81, 0.7)),
      url("../../assets/images/auth/family.webp") no-repeat center/cover;
  }

  .card {
    max-width: 1000px;
    min-height: 600px;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;

    @include medium {
      width: 550px;
      min-height: 550px;
    }

    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      padding: 1rem 1.5rem;

      @include medium {
        width: 100%;
      }

      @include xsmall {
        padding: 1rem;
      }

      h1 {
        font-size: 4rem;
        color: teal;

        @include medium {
          font-size: 3rem;
          margin-bottom: 2rem;
        }
      }

      form {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;

        @include xsmall {
          gap: 0.5rem;
        }

        input {
          display: block;
          font-size: 1.6rem;
          height: 3rem;
          border: none;
          border-bottom: 0.1rem solid #8bd1e3;
          margin-top: 1.5rem;
          outline: none;

          &::placeholder {
            color: #08415c;
          }
        }

        .error-msg {
          color: #f75252;
          font-size: 1.3rem;
          margin-top: 0.7rem;
        }

        .api {
          color: teal;
        }

        button {
          height: 3.3rem;
          background-color: #ffd670;
          font-size: 1.8rem;
          font-weight: bold;
          color: teal;
          letter-spacing: 0.1rem;
          border: none;
          border-radius: 0.3rem;
          margin-top: 2rem;
          cursor: pointer;

          &:hover {
            background-color: darken(#ffd670, 10%);
          }

          &:active {
            transform: translateY(1px);
            background-color: darken(#ffd670, 20%);
          }

          @include medium {
            margin: 2rem 0;
          }

          @include xsmall {
            margin: 1.5rem 0;
          }
        }

        .login-msg {
          font-size: 1.6rem;

          span {
            font-weight: bold;
            color: teal;
            cursor: pointer;
          }
        }
      }
    }

    .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      color: white;
      background: linear-gradient(rgba(2, 81, 81, 0.7), rgba(2, 81, 81, 0.7)),
        url("../../assets/images/auth/family.webp") no-repeat center/cover;
      padding: 1rem;

      @include medium {
        display: none;
      }

      h1 {
        font-size: 4rem;
        text-align: center;
      }

      .container {
        margin: auto;

        p {
          font-size: 2rem;
          line-height: 1.6;
          margin-bottom: 3rem;
        }

        span {
          font-size: 1.7rem;
          margin-right: 1rem;
        }

        button {
          width: 30%;
          height: 3.3rem;
          font-size: 1.6rem;
          font-weight: bold;
          color: #08415c;
          border: none;
          border-radius: 0.3rem;
          cursor: pointer;
        }
      }
    }
  }
}
