@use "../../style.scss";

.posts {
  @include style.themify(style.$themes) {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: style.themed("textColor");
    gap: 1.5rem;

    @include style.small { 
      font-size: 1.5rem;
    }
  }
}