@import "../../style.scss";

.posts {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: themed("textColor");

    .msg {
      color: themed("textColor");
      font-size: 1.6rem;
    }
  }
}
