@import "../../style.scss";

.profile {
  @include themify($themes) {
    min-height: calc(100vh - 70px); // 70px = navbar height
    position: sticky;
    top: 70px;
    background-color: themed("bgSoft");
    padding: 2rem 1rem;
  }
}
