@import "../../style.scss";

.timeline {
  @include themify($themes) {
    position: sticky;
    top: 70px;
    width: 50vw;
    min-height: calc(100vh - 70px); // 70px = navbar height
    background-color: themed("bgSoft");
    padding: 1rem 1rem 2rem 2rem;

    @include medium {
      width: 80vw;
      padding: 2rem;
    }

    @include tablet {
      width: 100vw;
    }

    @include small {
      padding: 2rem 1rem;
    }
  }
}
