@use "../../style.scss";

.timeline {
  @include style.themify(style.$themes) {
    position: sticky;
    top: 70px;
    width: 50vw;
    min-height: calc(100vh - 70px); // 70px = navbar height
    background-color: style.themed("bgSoft");
    padding: 1rem 1rem 2rem 2rem;

    @include style.medium {
      width: 80vw;
      padding: 2rem;
    }

    @include style.tablet {
      width: 100vw;
    }

    @include style.small {
      padding: 2rem 1rem;
    }
  }
}
