@import "../../style.scss";

.comments {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    color: themed("textColor");
    padding: 1rem;
    gap: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    max-width: 100%;

    form {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;

      .img-container {
        width: 40px;
        height: 40px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }
      .input-group {
        display: flex;
        align-items: center;
        position: relative;
        width: calc(100% - 140px); // 100px (button) + 40px (image)

        @include small {
          width: calc(100% - 40px); // 40px = image
        }

        input {
          height: 40px;
          width: 100%;
          font-size: 1.6rem;
          padding: 1rem;
          border: 0.1rem solid themed("color");
          border-radius: 0.5rem;
          outline: none;

          @include small {
            padding: 0.5rem 3rem 0.5rem 0.5rem;
          }

          @include xsmall {
            font-size: 1.5rem;
          }
        }

        .send {
          display: none;
          position: absolute;
          right: 5px;
          cursor: pointer;

          @include small {
            display: block;
          }
        }
      }

      button {
        width: 120px;
        height: 40px;
        letter-spacing: 0.1rem;
        background-color: teal;
        color: white;
        font-size: 1.6rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        @include small {
          display: none;
        }
      }
    }

    .comment {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .info {
        flex: 1;

        h3 {
          font-size: 1.6rem;
          margin-bottom: 0.3rem;
        }

        p {
          font-size: 1.5rem;
        }
      }

      .buttons-time {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 1.3rem;
        color: themed("textColorSoft");
        gap: 1rem;

        .edit-buttons {
          display: flex;
          gap: 0.5rem;

          @media screen and (max-width: 400px) {
            gap: 0.3rem;
          }

          .edit-btn {
            color: themed("textColorSoft");

            &:hover {
              cursor: pointer;
            }

            @include xsmall {
              font-size: 24px;
            }
          }
        }

        .time {
          text-align: right;
        }
      }
    }
  }
}
