@import "../../style.scss";

.update {
  @include themify($themes) {
    position: fixed;
    top: 70px; // Navbar height
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100; // Modal over profile pic in ProfileData

    .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      max-width: 600px;
      min-height: 425px;
      overflow-y: auto;
      color: #333;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.09);

      @include small {
        width: 95%;
      }

      h1 {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .files {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          gap: 2rem;
          margin-bottom: 1.5rem;

          @include small {
            margin-bottom: 1rem;
          }

          span {
            margin-bottom: 1rem;
          }
        }

        label {
          display: flex;
          flex-direction: column;
          font-weight: bold;
          font-size: 1.6rem;
          gap: 1rem;

          .imgContainer {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
              width: 80px;
              height: 80px;
              object-fit: cover;
              object-position: center;
            }

            .icon {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              font-size: 30px;
              color: lightgray;
              cursor: pointer;
            }
          }
        }

        input {
          color: themed("textColorSoft");
          background-color: transparent;
          font-size: 1.6rem;
          padding: 0.5rem;
          border: none;
          border-bottom: 1px solid themed("border");
          margin-bottom: 1rem;

          @include small {
            margin-bottom: 0.5rem;
          }
        }

        button {
          width: 200px;
          font-size: 1.7rem;
          padding: 1rem;
          color: white;
          background-color: #5271ff;
          border: none;
          border-radius: 0.5rem;
          margin: auto;
          cursor: pointer;

          @include small {
            padding: 0.8rem;
          }
        }
      }

      .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: none;
        background-color: #f0544f;
        padding: 0.5rem;
        cursor: pointer;
        color: white;
        font-weight: bold;
      }
    }
  }
}
