@import "../../style.scss";

.publish {
  @include themify($themes) {
    background-color: themed("bg");
    color: themed("textColor");
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      margin-bottom: 1rem;

      @include small {
        gap: 0.5rem;
      }

      .left {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 1rem;

        .img-container {
          width: 50px;
          height: 50px;

          @include small {
            display: none;
          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }
        }

        .input-group {
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;

          input {
            width: 100%;
            height: 50px;
            color: themed("textColor");
            background-color: themed("bgSoft");
            font-size: 1.6rem;
            border: none;
            border-radius: 0.5rem;
            padding: 1rem;
            outline: none;
            &::placeholder {
              color: themed("textColor");
              font-size: 1.6rem;

              @include xsmall {
                font-size: 1.5rem;
              }
            }

            @include small {
              padding: 0.5rem 3rem 0.5rem 0.5rem;
            }

            @include xsmall {
              font-size: 1.5rem;
            }
          }

          .send {
            display: none;
            position: absolute;
            right: 5px;
            cursor: pointer;

            @include small {
              display: block;
            }
          }
        }
      }

      .right {
        .img-container {
          position: relative;
          width: 50px;
          height: 50px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }

          .close {
            position: absolute;
            top: 0;
            right: 0;
            background: #f0544f;
            color: white;
            font-size: 1.3rem;
            border: none;
            padding: 0 0.2rem;
            cursor: pointer;
          }
        }
      }
    }

    .error-msg {
      color: themed("errorMsg");
      font-size: 1.3rem;
    }

    hr {
      border-top: 0.1rem solid themed("hr");
      margin: 1.5rem 0 1rem 0;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 2rem;

        @include small {
          width: 100%;
          justify-content: space-around;
        }

        .file-label-mob {
          display: none;

          @include small {
            display: block;
          }

          img {
            width: 24px;
            height: 24px;
          }
        }

        #file {
          display: none;
        }

        .add-img {
          display: flex;
          align-items: center;
          gap: 0.6rem;

          @include small {
            display: none;
          }

          img {
            height: 24px;
            width: 24px;
          }

          .file-label {
            font-size: 1.4rem;
            color: themed("textColorSoft");
            cursor: pointer;
          }
        }

        .item {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.6rem;

          img {
            height: 24px;
            width: 24px;
          }

          span {
            font-size: 1.4rem;
            color: themed("textColorSoft");
            cursor: pointer;

            @include small {
              display: none;
            }
          }
        }
      }

      .right {
        button {
          width: 125px;
          height: 40px;
          letter-spacing: 0.1rem;
          border: none;
          font-size: 1.6rem;
          color: white;
          background-color: teal;
          border-radius: 0.5rem;
          transition: background-color 0.3s ease, transform 0.2s ease;
          cursor: pointer;
          &:hover {
            background-color: darken(teal, 5%);
          }
          &:active {
            transform: translateY(1px);
            background-color: darken(teal, 10%);
          }

          @include small {
            display: none;
          }
        }
      }
    }
  }
}
