@import "../../style.scss";

.navbar {
  @include themify($themes) {
    min-height: 70px;
    max-width: 100%;
    color: themed("iconColor");
    background-color: themed("navBg");
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;

    .left {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      span {
        font-size: 2rem;
        font-weight: bold;
        color: themed("logo");
      }

      .iconLink {
        color: themed("iconColor");
      }

      .searchBar {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border: 0.2rem solid themed("border");
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-right: 1rem;

        input {
          color: themed("textColor");
          border: none;
          width: 300px;
          background-color: transparent;
          outline: none;

          &::placeholder {
            color: themed("textColor");
          }
        }
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2.5rem;

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }

        span {
          font-size: 1.5rem;
          font-weight: bold;
          color: themed("iconColor");
        }
      }
    }
  }
}
