@use "../../style.scss";

.rightBar {
  @include style.themify(style.$themes) {
    position: sticky;
    top: 70px;
    width: 30vw;
    min-height: calc(100vh - 70px); // 70px = navbar height
    display: flex;
    flex-direction: column;
    background-color: style.themed("bgSoft");
    gap: 1.5rem;
    padding: 1rem 1rem 2rem 1rem;

    @include style.medium {
      display: none;
    }

    .birthdays {
      background-color: style.themed("bg");
      border-radius: 0.5rem;
      box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
      padding: 1rem;

      h3 {
        font-size: 1.6rem;
        color: style.themed("textColorSoft");
        margin-bottom: 1rem;
      }

      .birthday {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 32px;
          height: 32px;
        }

        p {
          font-size: 1.4rem;
          color: style.themed("textColorSoft");

          span {
            font-weight: bold;
            color: style.themed("textColor");
          }
        }
      }
    }

    .activities {
      display: flex;
      flex-direction: column;
      background-color: style.themed("bg");
      border-radius: 0.5rem;
      box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
      gap: 1rem;
      padding: 1rem;

      h3 {
        font-size: 1.6rem;
        color: style.themed("textColorSoft");
      }

      .activity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .user-info {
          width: 70%;
          display: flex;
          align-items: center;
          gap: 1rem;
          word-break: break-word; // Prevent name from overflowing div

          .img-container {
            width: 32px;
            height: 32px;
            align-self: flex-start;

            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
              object-position: center;
            }
          }

          p {
            font-size: 1.3rem;
            color: style.themed("textColorSoft");

            span {
              font-size: 1.4rem;
              font-weight: bold;
              color: style.themed("textColor");
              max-width: 100%;
            }
          }
        }

        .time {
          width: 30%;
          font-size: 1.3rem;
          color: style.themed("textColorSoft");
          align-self: flex-start;
        }
      }
    }

    .online {
      background-color: style.themed("bg");
      border-radius: 0.5rem;
      box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
      padding: 1rem;

      h3 {
        font-size: 1.6rem;
        color: style.themed("textColorSoft");
        margin-bottom: 1rem;
      }

      .friends {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .user {
          display: flex;
          align-items: center;
          gap: 1rem;
          word-break: break-word; // To prevent name text from overflowing div

          .img-container {
            position: relative;
            width: 32px;
            height: 32px;

            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
              object-position: center;
            }

            .status-dot {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: lime;
              position: absolute;
              top: 0;
              left: 22px;
            }
          }

          span {
            font-size: 1.4rem;
            font-weight: bold;
            color: style.themed("textColor");
          }
        }
      }
    }
  }
}
