.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;

  .overlayMsg {
    font-size: 1.8rem;
    text-align: center;
    padding: 20px;
    max-width: 80%;
  }
}
