// Syntax below means body has a class "overlay-active" and inside the latter, we target .App
body.overlay-active .App {
  display: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;

  .overlay-msg {
    font-size: 1.8rem;
    text-align: center;
    padding: 20px;
    max-width: 80%;
  }
}
