@import "../../style.scss";

.navbar {
  @include themify($themes) {
    position: sticky;
    top: 0;
    height: 70px;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: themed("iconColor");
    background-color: themed("navBg");
    padding: 1rem 2rem;
    z-index: 100;

    @include small {
      padding: 1rem;
      justify-content: center;
    }

    @media screen and (max-width: 350px) {
      padding: 1rem 0.5rem;
    }

    .left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.5rem;

      @include xsmall {
        gap: 1.5rem;
      }

      @media screen and (max-width: 350px) {
        gap: 1.2rem;
      }

      a {
        color: themed("iconColor");
        &:nth-child(1) {
          @include small {
            display: none;
          }
        }
      }

      span {
        font-size: 2.2rem;
        font-weight: bold;
        color: themed("logo");
      }

      .logo {
        @include small {
          display: none;
        }
      }

      .logo-mob {
        display: none;

        @include small {
          display: block;
          position: absolute;
          left: 15px;
          bottom: 25px;
        }
      }

      .theme-btn {
        &:hover {
          cursor: pointer;
        }
      }

      .searchbar {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border: 0.2rem solid themed("border");
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-right: 2.5rem;

        @include small {
          margin-right: 2.5rem;
          justify-content: center;
        }

        @include xsmall {
          margin-right: 1.5rem;
        }

        @media screen and (max-width: 350px) {
          margin-right: 1rem;
        }

        input {
          width: 100%;
          color: themed("textColor");
          font-size: 1.6rem;
          background-color: transparent;
          border: none;
          outline: none;

          @media screen and (max-width: 800px) {
            display: none;
          }

          &::placeholder {
            color: themed("textColor");
          }
        }
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2.5rem;

      @include medium {
        display: none;
      }

      a {
        color: themed("iconColor");
      }

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;

        &:hover {
          cursor: pointer;
        }
      }

      span {
        font-size: 1.5rem;
        font-weight: bold;
        color: themed("iconColor");
        cursor: pointer;
      }
    }

    .right-mob {
      display: none;

      @include medium {
        display: flex;
        gap: 2.5rem;
      }

      @include small {
        margin-right: 1.5rem; // Space between notif and burger icons
      }

      @include xsmall {
        gap: 1.5rem;
      }

      @media screen and (max-width: 350px) {
        gap: 1rem;
        margin-right: 1rem;
      }

      a {
        color: themed("iconColor");
      }

      .burger {
        cursor: pointer;

        @include small {
          position: absolute;
          right: 10px;
        }
      }

      .burger-list {
        position: absolute;
        top: 71px;
        right: 0;
        padding: 2rem 1rem;
        width: 30vw;
        height: auto;
        background-color: themed("bg");
        font-size: 1.6rem;
        font-weight: bold;
        color: themed("logo");

        @include small {
          width: 100vw;
        }

        .item {
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        hr {
          border-top: 0.1rem solid themed("hr");
          margin: 2rem 0;
        }
      }
    }
  }
}
