@import "../../style.scss";

.profileData {
  @include themify($themes) {
    width: 50vw;
    min-height: calc(100vh - 70px); // 70px = navbar height
    position: sticky;
    top: 70px;
    background-color: themed("bgSoft");
    padding: 0 1rem 2rem 2rem;

    @include medium {
      width: 80vw;
      padding: 2rem;
    }

    @include tablet {
      width: 100vw;
    }

    @include xsmall {
      padding: 1rem;
    }

    .profileContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .images {
        width: 100%;
        height: 280px;
        position: relative;

        @include small {
          height: 187px;
        }

        .cover {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .img-container {
          width: 180px;
          height: 180px;
          position: absolute;
          left: 0;
          right: 0;
          top: 190px; // 280px (cover height) - 90px (1/2 div height)
          margin: auto;
          z-index: 100;

          @include small {
            width: 120px; // 187px (cover height) - 60px (1/2 div height)
            height: 120px;
            top: 127px;
          }

          .profilePic {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;

            @include small {
              width: 120px;
              height: 120px;
            }
          }
        }
      }

      .userInfo {
        height: 230px;
        display: flex;
        flex-direction: column;
        position: relative;
        color: themed("textColor");
        background-color: themed("bg");
        box-shadow: 0 0 2.5rem -1rem rgba(0, 0, 0, 0.38);
        -webkit-box-shadow: 0 0 2.5rem -1rem rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0 0 2.5rem -1rem rgba(0, 0, 0, 0.38);
        padding: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        @include small {
          height: 153px;
          padding: 0.5rem;
        }

        a {
          color: themed("textColorSoft");
        }

        .friends-contact {
          display: flex;
          justify-content: space-between;

          .friends {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            gap: 1rem;

            @include small {
              gap: 0.5rem;
              margin-left: 0.5rem;
            }

            span {
              @media (max-width: 550px) {
                display: none;
              }
            }
          }

          .contact {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            @include small {
              gap: 0;
            }
          }
        }

        .name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2 {
            position: absolute;
            top: 100px;
            font-size: 2.4rem;

            @include small {
              top: 60px;
              font-size: 1.8rem;
            }
          }

          .location {
            position: absolute;
            top: 140px;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.5rem;
            @include small {
              top: 90px;
              font-size: 1.4rem;
            }
          }

          button {
            width: 100px;
            height: 40px;
            letter-spacing: 0.1rem;
            position: absolute;
            top: 180px;
            color: white;
            color: teal;
            font-weight: bold;
            background-color: teal;
            background-color: #ffd670;
            font-size: 1.6rem;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 0.8rem;
            cursor: pointer;

            @include small {
              top: 115px;
              height: 30px;
              font-size: 1.4rem;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
