.createStory {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 500;

  form {
    background: white;

    input[type="text"] {
      width: 100%;
    }

    input[type="submit"] {
      width: 80%;
    }
  }
}
