@use "../../style.scss";
@use "sass:color";

.createStory {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;

  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    overflow-y: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;

    @include style.small {
      width: 95%;
    }

    @include style.xsmall {
      padding: 0.5rem;
    }

    h1 {
      color: #222;
      text-align: center;
      margin-bottom: 3rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .input-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 1rem;

        @include style.small {
          gap: 0.7rem;
        }

        #story-file {
          display: none;
        }

        .file-label {
          width: 250px;
          height: 50px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 1.8rem;
          text-align: center;
          color: teal;
          background-color: #ffd670;
          border-radius: 0.3rem;
          padding: 0.5rem 0.8rem;
          transition: background-color 0.3s ease, transform 0.2s ease;
          cursor: pointer;
          &:hover {
            background-color: color.scale(#ffd670, $lightness: -10%);
          }
          &:active {
            transform: translateY(1px);
            background-color: color.scale(#ffd670, $lightness: -20%);
          }

          @include style.small {
            flex: 1;
          }
        }

        .file-container {
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;

          @include style.small {
            width: 90%;
            text-align: center;
          }

          .img-container {
            width: 50px;
            height: 50px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .video-container {
            width: 50px;
            height: 50px;

            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .video-placeholder {
            width: 100%;
            text-align: center;

            p {
              font-size: 1.5rem;

              span {
                font-size: 1.4rem;
              }
            }
          }
        }
      }

      .text-label {
        font-size: 1.6rem;
      }

      .desc-label {
        font-size: 1.6rem;
        font-weight: bold;
        color: #444;
      }

      textarea {
        color: #333;
        font-size: 1.6rem;
        padding: 0.5rem;
      }

      button {
        width: 250px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        color: white;
        background-color: #5271ff;
        border: none;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: auto;
        transition: background-color 0.3s ease, transform 0.2s ease;
        cursor: pointer;
        &:hover {
          background-color: color.scale(#5271ff, $lightness: -5%);
        }
        &:active {
          transform: translateY(1px);
          background-color: color.scale(#5271ff, $lightness: -10%);
        }
        &:disabled {
          cursor: not-allowed;
        }

        @include style.small {
          width: 100%;
          padding: 1rem;
        }
      }
    }

    .error-msg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: #f75252;
      background-color: #f8d7da;
      font-size: 1.6rem;
      border: 0.1rem solid #f75252;
      border-radius: 0.5rem;
      padding: 2rem;
      margin-top: 1rem;
    }

    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: none;
      color: white;
      font-weight: bold;
      background-color: #f75252;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}
