@import "../../style.scss";

.modalStory {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  .modal-content {
    position: relative;
    width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 100%;
    overflow-y: auto;
    background-color: white;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
    overflow: hidden;

    @include small {
      top: 2rem;
      width: 95%;
    }

    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.7rem;
      color: white;
      background: #f0544f;
      border: none;
      border-radius: 0.2rem;
      padding: 0.5rem;
      cursor: pointer;
      z-index: 10; // Otherwise, can't click on button to close modal
    }

    .img-container {
      width: 100%;
      height: 375px;
      overflow: hidden;
      margin-bottom: 1rem;

      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .info-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      h1 {
        color: #222;
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 1rem;
      }

      .story-details {
        display: flex;
        justify-content: space-between;

        @include small {
          flex-direction: column;
          gap: 1rem;
        }

        .story-edit-info {
          p {
            color: #444;
            font-size: 1.5rem;
          }
        }

        .delete {
          flex-shrink: 0; // Prevent button from shrinking
          width: 100px;
          font-size: 1.6rem;
          color: white;
          background: #f0544f;
          border: none;
          border-radius: 0.3rem;
          padding: 0.5rem 1rem;
          cursor: pointer;

          @include small {
            margin: auto;
          }
        }
      }
    }
  }
}
