@use "../../style.scss";
@use "sass:color";

.modalStory {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  .modal-content {
    position: relative;
    width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 100%;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 1rem;

    @include style.small {
      top: 2rem;
      width: 95%;
    }

    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.7rem;
      color: white;
      background: #f0544f;
      border: none;
      border-radius: 0.2rem;
      padding: 0.5rem;
      z-index: 10; // Button over video
      cursor: pointer;
    }

    .file-container {
      width: 100%;
      height: 375px;
      overflow: hidden;
      margin-bottom: 1rem;

      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .info-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      h1 {
        color: #222;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
        word-break: break-word;
        line-height: 1;
      }

      .story-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        word-break: break-word;

        .story-edit-info {
          p {
            color: #444;
            font-size: 1.4rem;
          }
        }

        .delete {
          flex-shrink: 0; // Prevent button from shrinking
          width: 100px;
          font-size: 1.6rem;
          color: white;
          background: #f0544f;
          border: none;
          border-radius: 0.3rem;
          padding: 1rem;
          margin: auto;
          cursor: pointer;
          &:hover {
            background-color: color.scale(#f0544f, $lightness: -10%);
          }
          &:active {
            transform: translateY(1px);
            background-color: color.scale(#f0544f, $lightness: -20%);
          }

          @include style.small {
            margin: auto;
          }
        }
      }
    }
  }
}
